{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>La {{ nom }}</title>
    </head>
    <body>
        <h1>La {{ nom }}</h1>

        <p>
            La {{ nom }} veut avant tout {{ but}}
        </p>
    </body>
</html>
